
body {
  margin: 0;
  padding: 0;
}
.navbar{
  background-color: red;
}
.hero {
  background-color: green;
  color: white;
  padding: 60px 20px;
}
.btn-primary {
  background-color: green;
  border: none;
}
footer {
  background-color: red;
  color: white;
  padding: 10px 0;
}
.btn-outline-primary  {
  color: white;
  background-color: green;
  border-color: green;
  border-radius: 6px;
}
.btn-light {
  color: green;
  background-color: white;
  border-radius: 6px;
}

